.services {
  margin-top: 225px;
  padding: 0 1rem;
}

.container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
}

.top {
  display: flex;
  margin-bottom: 3rem;
}

.title {
  margin-right: auto;
}

.title h2 {
  font-size: 2.25rem;
  line-height: 1.56;
  font-weight: 500;
  color: #113453;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.title p {
  font-size: 1.125rem;
  line-height: 1.22;
  font-weight: 500;
  color: #586673;
}

.buttonBox {
  display: flex;
  gap: 1rem;
  max-width: 473px;
  width: 100%;
  align-items: flex-start;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.buttonBox p {
  font-size: 0.875rem;
  line-height: 1.43;
  font-weight: 400;
  color: #586673;
}

.buttonWrapper {
  max-width: 186px;
  width: 100%;
}

.account {
  display: flex;
  gap: 4rem;
  margin-bottom: 5rem;
}

.accountImage {
  text-align: center;
  min-width: 280px;
}

.features {
  padding: 1.625rem 0;
  max-width: 627px;
  width: 100%;
  margin-left: 0.5rem;
}

.features h3 {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700;
  color: #113453;
  margin-bottom: 1.5rem;
}

.featuresInner {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 1.5rem;
}

.feature {
  max-width: 300px;
  width: 100%;
}

.feature h4 {
  font-size: 1.125rem;
  line-height: 1.44;
  font-weight: 600;
  color: #113453;
  margin: 0.75rem 0;
}

.feature p {
  font-size: 1rem;
  line-height: 1.75;
  font-weight: 500;
  color: #586673;
  margin-bottom: 0.75rem;
}

.transfers {
  display: flex;
  flex-wrap: wrap;
  gap: 2.75rem;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  max-width: 648px;
}

.description h3 {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700;
  color: #113453;
  margin-bottom: 1.5rem;
}

.description ul li {
  display: flex;
  align-items: start; /* add */
  gap: 12px; /* add */

  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  color: #586673;
  margin-bottom: 12px;
}

.liContent {
  display: inline;
  word-break: break-word;
}

.liContent strong {
  font-weight: 600;
  color: #113453;
}

.transferImg {
  flex: 1;
  text-align: center;
  min-width: 280px;
}

@media (max-width: 768px) {
  .services {
    margin-top: 190px;
  }

  .top {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    align-items: center;
    width: 100%;
    min-width: 343px;
  }

  .title {
    margin: 0 auto 1.5rem;
    text-align: center;
    padding: 0 2rem;
  }

  .title h2 {
    font-size: 1.5rem;
    line-height: 1.33;
    margin-bottom: 1rem;
  }
  .title p {
    font-size: 0.875rem;
    line-height: 1.43;
  }

  .buttonBox {
    flex-direction: column;
    max-width: 271px;
    align-items: center;
    padding: 0;
    margin-left: 0;
  }

  .account {
    flex-direction: column;

    margin-bottom: 4rem;
  }

  .features {
    padding: 0;
    max-width: 343px;
    width: 100%;
    margin-top: 2.5rem;
  }

  .features h3 {
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featuresInner {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .feature {
    max-width: 343px;
  }

  .feature h4 {
    margin: 0.5rem 0;
  }

  .transfers {
    gap: 1.5rem;
  }

  .description ul li {
    align-items: center;
  }
}
